.footer {
  flex-shrink: 0;
  height: 55px;
  p {
    color: #fff;
    background: rgba(0, 0, 0, 0.95);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
